[Unit]
Description=OpenStack Octavia API service
After=syslog.target network.target

[Service]
Type=simple
User=octavia
ExecStart=/usr/bin/octavia-api --config-file /usr/share/neutron/octavia-dist.conf --config-file /etc/octavia/octavia.conf --config-dir /etc/octavia/conf.d/common --config-dir /etc/neutron/conf.d/octavia-api --log-file /var/log/octavia/octavia-api.log
PrivateTmp=false
KillMode=process

[Install]
WantedBy=multi-user.target
