[Unit]
Description=OpenStack Octavia Amphora Agent service
After=syslog.target network.target

[Service]
Type=simple
User=octavia
ExecStart=/usr/bin/amphora-agent --config-file /etc/octavia/amphora-agent.conf
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
