[Unit]
Description=OpenStack Octavia Amphora Agent service
After=syslog.target network.target

[Service]
Type=simple
User=octavia
ExecStart=/usr/bin/amphora-agent --config-file /usr/share/octavia/octavia-dist.conf --config-file /etc/octavia/octavia.conf --config-dir /etc/octavia/conf.d/octavia-amphora-agent --log-file /var/log/octavia/amphora-agent.log
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
